    body {
            background: linear-gradient(to bottom, #4a90e2, #a8d0ff);
            font-family: Arial;
            padding: 20px;
            margin: 0;
        }
        .formulario {
            width: 80%;
            max-width: 600px;
            margin: auto;
            background: white;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
        }
        label {
            font-weight: bold;
        }
        input, select {
            width: 100%;
            padding: 8px;
            margin: 8px 0 15px 0;
            border-radius: 5px;
            border: 1px solid #999;
        }
        button {
            background: #3498db;
            color: white;
            border: none;
            padding: 10px 18px;
            border-radius: 5px;
            cursor: pointer;
            
        }
        a {
            background: #c0392b;
            color: white;
            padding: 10px 18px;
            border-radius: 5px;
            text-decoration: none;
        }