/* Fondo degradado azul */
body {
  background: linear-gradient(to bottom, #4a90e2, #a8d0ff);
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;


}
 body {
            background: linear-gradient(to bottom, #4a90e2, #a8d0ff);
            font-family: Arial, sans-serif;
            margin: 0;
            height: 100vh;
        }

        header {
            background: rgba(44, 62, 80, 0.9);
            padding: 15px;
            color: white;
            font-size: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .contenedor {
            background: rgba(255, 255, 255, 0.95);
            width: 80%;
            max-width: 700px;
            margin: 40px auto;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
        }

        h2 {
            text-align: center;
            color: #2c3e50;
        }

        .info {
            font-size: 18px;
            margin: 10px 0;
        }

        .label {
            font-weight: bold;
            color: #2c3e50;
        }

        a {
            color: white;
            text-decoration: none;
            background: #c0392b;
            padding: 8px 12px;
            border-radius: 5px;
        }